<nav class="nav-side" >
	<span class="nav-title">Lessons</span>
  <hr>
  <div class="nav-link"><%= link_to "Programming", pages_index_path, :class => 'nav-content' %></div>
  <div class="nav-link"><%= link_to "HTML & CSS", pages_about_path, :class => 'nav-content' %></div>
  <div class="nav-link"><%= link_to "Linux", pages_lessons_path, :class => 'nav-content' %></div>
  <div class="nav-link"><%= link_to "Portfolio", pages_portfolio_path, :class => 'nav-content' %></div>
	<br>
	<span class="nav-title">Portfolio</span>
  <hr>
	<div class="nav-link"><%= link_to "This Site", pages_about_path, :class => 'nav-content' %></div>
	<br>
	<a href="#" class="nav-toggle">
    <%= image_tag "arrowwhite.png", :id => 'nav-arrow' %>
  </a>
</nav>


</div>
