
<!-- This is the jumbotron area -->
<div class="container-fluid" id="jumbo">
  <div class="container" id="title-content">
    <%= image_tag "mecircshadow.png", :id => "title-content-image" %>
    <div class="container-fluid"><h1 id="title-content-text">stevenanton.io</h1></div>
  </div>
</div>
<!-- End of jumbotron area -->


<div class="box" id="intro-content">

  <div class="container-fluid" id="contact-form">

    <div class="hideme center">
      <%= image_tag "lovecode.jpg", :class => "codepic" %>
    </div>

      <p class="hideme">Hi there. I’m Steven. I’m a software geek! I made this site as a labor of love. It’s my own home away from…… the office. It’s my project to help democratize knowledge & the power to build things.</p>
      <div class="hideme center">
        <%= image_tag "phonecode.jpg", :class => "codepic" %>
      </div>

      <p class="hideme">Software is a beautiful thing. It’s freeing; yet structured. It has empowered the dramatic growth of productivity. It’s pushed progress in an unparalleled upward trend</p>
      <div class="hideme center">
        <%= image_tag "earth.jpg", :class => "codepic" %>
      </div>


      <p class="hideme">I hope, with this site, to do my small part to democratize knowledge & the power to build things</p>
      <div class="hideme center">
        <%= image_tag "stevenantonio_logo_large.jpg", :class => "codepic" %>
      </div>

      <p class="hideme">Well….. I’m not much of a writer, so to fill in some space. Here are some pictures of my cats.</p>
      <br>



    <!--
    <div class="hideme">
    <%= render partial: "shared/about" %>
    </div>
    -->





    <hr>
    <div class="hideme">
    <%= render partial: "shared/slideshow" %>
    </div>
    <hr class="hideme">
    <br>
    <h2 class="hideme">Interested in collaborating?</h2>
    <br>
    <p class="hideme">Send me a message, and let's make something.</p>
    <br>
    <div class="hideme">
    <%= render partial: "contacts/new" %>
    </div>
    <br>
  </div>

</div>
